.team-member{
    background-color:hsl(0deg 0% 7% / 5%)
    padding: 5rem;
}
.team{
    display:grid;
    grid-template-columns:2fr 2fr 2fr;
}
.tm p{
    font-size:20px;
    text-align:center;
    font-weight: 700;
    color: #e82b4b;
}
.tm h2{
    font-size:50px;
    text-align:center;
}
.team-image{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    
}
.image{
    text-align:center;
    

}
.image h4{
font-size:18px;
}
.image img{
    filter: saturate(0);
   
}
.image img:hover{
    filter: saturate(100%);
}
